<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      template="../template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:define name="content">
<!--    <h:outputText value="#{other.user}" /><br />

    <h:outputText value="#{userBean.user}" />
-->
    <h:form rendered="#{param['id']}==#{userBean.user.id}">
        Czy wiesz, że możesz uatrakcyjnić swój profil i
        <p:commandButton class="submit" action="#{userBean.deleteUser}" value="usunąć konto?" />
    </h:form>
</ui:define>
</ui:composition>
