<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <div class="i_message">
            <h1>Dołącz do grupy!</h1>
            Witaj w formularzu dołączania do grupy. Jeżeli chcesz nabyć uprawnienia administratora, musisz dołączenie do
            grupy potwierdzić hasłem administracyjnym.
        </div><br />
        <h:form id="userform">
            <div class="register_left">Grupa:</div>
            <p:inputText class="input" id="login" value="#{groupBean.group.name}">
                <p:watermark for="login" value="Podaj nazwę grupy" />
            </p:inputText><br /><br />

            <div class="register_left">Hasło:</div>
            <p:password class="input" id="password" value="#{groupBean.group.password}">
                <p:watermark for="password" value="Hasło (w przypadku administratora)" />
            </p:password><br /><br />

            <p:commandButton class="submit" value="Dołącz do grupy" action="#{groupBean.joinGroup}" />
        </h:form>
    </ui:define>
</ui:composition>
