<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <div class="i_message">
            <h1>Dodawanie grupy</h1>
            Witaj w formularzu dodawania grupy. Nazwa "Administrator" jest zarezerwowana, a jej użycie możliwe jest tylko raz.
            Dodatkowo, żeby dołączyć do grupy "Administrator" należy na ukrytej podstronie podać hasło grupy zapisane w programie.
        </div><br />
        <h:form id="userform">
            <div class="register_left">Grupa:</div>
            <p:inputText class="input" id="login" value="#{groupBean.group.name}">
                <p:watermark for="login" value="Podaj nazwę grupy" />
            </p:inputText><br /><br />

            <p:commandButton class="submit" value="Stwórz grupę" action="#{groupBean.saveGroup}" />
        </h:form>
    </ui:define>
</ui:composition>
