<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="../template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <div class="i_message">
            <h1>Użytkownicy</h1>
            <p:dataTable value="#{userBean.users}" var="item" style="margin: -20px;">

                <p:column styleClass="u_avatars">
                    <f:facet name="header">Zdjęcie</f:facet>
                    <img src="http://localhost:8080/EPC_war_exploded/css/img/avatars/#{item.photo}" class="u_photo_min" />
                </p:column>

                <p:column>
                    <f:facet name="header">Użytkownik</f:facet>
                    <div class="u_login">#{item.login}</div>
                    Odwiedź mój <a href="http://localhost:8080/EPC_war_exploded/profiles/profile.jsf?id=#{item.id}">profil</a>
                </p:column>

                <p:column>
                    <f:facet name="header">Adres e-mail</f:facet>
                    #{item.email}
                </p:column>

                <p:column>
                    <f:facet name="header">Data rejestracji</f:facet>
                    #{item.register}
                </p:column>
<!--
                <p:column>
                    <f:facet name="header">Admin</f:facet>
                    <p:commandLink value="usun" action="#{userBean.AdeleteUser}"/>
                </p:column>
-->
            </p:dataTable>
        </div>
    </ui:define>
</ui:composition>
