<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../template.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <div class="i_message">
            <h1>Użytkownicy</h1>
            <p:dataTable value="#{groupBean.groups}" var="item" style="margin: -20px;">

                <p:column styleClass="e_photo">
                    <f:facet name="header"></f:facet>
                    <img src="http://localhost:8080/EPC_war_exploded/css/img/event.jpg" class="e_event" /><br />
                </p:column>

                <p:column>
                    <f:facet name="header">Nazwa grupy</f:facet>
                    <div class="u_login">#{item.name}</div>
                </p:column>

                <p:column styleClass="e_photo">
                    <f:facet name="header">Admin</f:facet>
                    <p:commandButton styleClass="submit" value="Usuń" action="#{groupBean.AdeleteGroup}"/>
                </p:column>
            </p:dataTable>
        </div><br />

        <p:commandButton class="submit" action="addGroup.xhtml" value="Stwórz grupę" />
    </ui:define>
</ui:composition>
