@import url("http://localhost:8080/EPC_war_exploded/css/primeface.css");

.right_block ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9e9e9e;
}
.right_block :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9e9e9e;
    opacity:  1;
}
.right_block ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9e9e9e;
    opacity:  1;
}
.right_block :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9e9e9e;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8e3838;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8e3838;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8e3838;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #8e3838;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #85bf6b !important;
    background-image: none;
    color: #306419 !important;
}

body {
    margin: 0;
    font: 12px Tahoma;
    background: #1f1f1f;
    color: #eaeaea;
}

a {
    color: aqua;
    text-decoration: none;
}

a li {
    color: #ffc9c9;
}

a li:hover {
    color: #fff;
}

.logo {
    background-image: url("img/logo.png");
    height: 100px;
    width: 300px;
}

.left_block {
    border-right: 1px solid #282828;
    margin: -100px -10px -10px;
    padding: 10px;
    background: #1f1f1f url("img/bg.png");
    height: 100%;
    position: fixed;
    width: 300px;
}

.left_menu {
    padding: 10px;
    list-style: none;
}

.left_menu li {
    font-size: 14px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.left_menu li:hover {
    background: rgba(0, 0, 0, 0.5);
}

.right_block {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 315px;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url("img/header.png");
}


.i_message {
    color: #afafaf;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.i_message h1 {
    color: #fff;
    background: rgba(215, 40, 40, 0.9);
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    margin: -20px -20px 20px;
}

.i_message a { color: #ea7676; }
.i_message table { width: 100%; }
.i_message tr { width: 100%; }
.i_message tr td { width: 33%; padding: 10px; background: #121212; border-color: #181818; }

.i_error {
    background-color: #c6292b;
    color: #eaeaea;
    padding: 10px;
}

td.main {
    background-color: rgba(215, 40, 40, 0.9) !important;
    padding: 10px;
}

.search {
    border-bottom: 1px solid #4a0707;
    background: #2b0000;
    margin-top: -10px;
    width: 300px;
    padding: 10px 5px 6px;
}

.search input[type="text"] {
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    border: 0;
    color: #cd7d7d;
    padding: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 62%;
}

.search .submit {
    text-shadow: none;
    box-shadow: none;
    color: #cd7d7d;
    padding: 8px;
    text-transform: uppercase;
    font-size: 11px;
    border: 1px solid #4a0707;
    background: #170000;
    border-radius: 3px;
}

.user_menu {
    border-top: 1px solid #4a0707;
    background: #2b0000;
    width: 300px;
    position: absolute;
    bottom: 0;
    padding: 10px 5px 15px;
}

.user_menu input {
    color: #cd7d7d;
    box-shadow: none;
    border: 1px solid #4a0707;
    text-shadow: none;
    background: #170000;
    padding: 8px;
    margin-bottom: 5px;
    margin-left: -22px;
    width: 95%;
}

.user_menu .submit {
    color: #cd7d7d;
    box-shadow: none;
    border: 1px solid #4a0707;
    text-shadow: none;
    font-weight: normal;
    background: #170000;
    margin-bottom: 5px;
    margin-left: -22px;
    padding: 3px 0 !important;
    width: 101%;
}

select {
    color: #d8d8d8;
    padding: 3px;
    border: 1px solid #353535;
    background: #181818;
}

.input, .input:active {
    box-shadow: none;
    text-shadow: 0px 0px 2px #000000;
    color: #d8d8d8;
    border: 3px solid #353535;
    background: #353535;
    padding: 8px;
}

input {
    text-shadow: 0px 0px 2px #000000;
    color: #d8d8d8;
    border: 3px solid #353535;
    background: #353535;
    padding: 8px;
}

textarea {
    color: #d8d8d8;
    border: 3px solid #353535;
    background: #181818;
    padding: 8px;
    width: 95%;
}
input[type="submit"] {
    cursor: pointer;
}

.submit {
    box-shadow: none;
    text-shadow: 0px 0px 2px #000000;
    color: #d8d8d8;
    border: 3px solid #353535;
    background: #353535;
    border-radius: 2px;
    padding: 2px 0;
}

.user_menu a {
    color: #faabae;
    text-decoration: underline;
}

.user_menu a:hover { color: #fff; }

.user_informations {
    margin-left: 50px;
}

.user_informations ul {
    margin-top: 10px;
}

.user_informations a { text-decoration: none; }

.register_left {
    margin-top: 4px;
    width: 150px;
    float: left;
}

.placeholder {
    color: #fff;
}

.photo_min {
    float: left;
    padding: 5px;
    background: #170000;
    border: 1px solid #4a0707;
    margin-left: -20px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.u_photo_min {
    padding: 5px;
    background: #170000;
    border: 1px solid #4a0707;
    width: 50px;
    height: 50px;
}