.ui-inputfield.ui-state-focus {
    box-shadow: none !important;
}

.calendar input {
    box-shadow: none;
    text-shadow: 0px 0px 2px #000000;
    color: #f2a3a3;
    border: 3px solid #353535;
    background: #353535;
    padding: 8px;
}

.e_calendar input {
    border-radius: 0;
    box-shadow: none;
    text-shadow: 0px 0px 2px #000000;
    color: #f2a3a3;
    border: 1px solid #353535;
    background: #2a2a2a;
    padding: 10px;
}

.e_textarea {
    min-height: 200px;
    box-shadow: none;
    border-radius: 0;
    text-shadow: 0px 0px 2px #000000;
    color: #d8d8d8;
    border: 3px solid #353535;
    background: #181818;
    padding: 8px;
    width: 95%;
}

.e_input {
    border-radius: 0;
    box-shadow: none;
    text-shadow: 0px 0px 2px #000000;
    color: #f2a3a3;
    border: 3px solid #353535;
    background: #353535;
    padding: 8px;
}

.e_submit {
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
    text-shadow: 0px 0px 2px #000000;
    color: #f2a3a3;
    border: 3px solid #353535;
    background: #353535;
    padding: 4px 8px;
    margin-top: -2px;
}

.u_avatars {
    width: 10% !important;
    text-align: center;
}

.ui-datatable .ui-datatable-header {
    color: #fff;
    text-shadow: none;
    border: 0;
    background: rgba(215, 40, 40, 0.9);
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    margin: -20px -20px 20px;
}

.ui-datatable thead th {
    background: #1d1d1d url("img/th.png") repeat-x;
    text-shadow: none;
    color: #e94949;
    border-color: #181818;
}

.ui-widget-content {
    color: #626262;
}

.ui-state-default {
    box-shadow: none;
}

.u_login {
    font-size: 18px;
    color: #eaeaea;
}

li label {
    color: #c0c0c0;
}

.e_photo {
    width: 10%;
    text-align: center;
}

.e_title{
    margin-bottom: 5px;
    font-size: 18px;
    color: #eaeaea;
}

.e_add {
    width: 30%;
}

.e_event {
    border: 2px solid #1a1a1a;
}

.stop_photo {
    text-align: center;
    border-bottom: 10px #1f1f1f;
}