<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class='left_block'>
        <div class="search">
            <h:form>
                <p:inputText id="search">
                    <p:watermark for="search" value="Znajdź na stronie..." />
                </p:inputText>
                <p:commandButton class="submit" value="Szukaj" />
            </h:form>
        </div>
        <a href="/EPC_war_exploded"><div class='logo'></div></a>
        <ul class='left_menu'>
            <h:form rendered="#{not empty user}">
            <a href='${pageContext.request}/EPC_war_exploded/add_event.jsf'><li>dodaj</li></a>
            </h:form>
            <a href='${pageContext.request}/EPC_war_exploded/actions/showUsers.jsf'><li>Użytkownicy</li></a>
            <a href='${pageContext.request}/EPC_war_exploded/actions/showEvents.jsf'><li>Eventy</li></a>
            <a href='${pageContext.request}/EPC_war_exploded/actions/showGroups.jsf'><li>Grupy</li></a>
            <a href='categories'><li>Kategorie</li></a>
        </ul>
        <div class="user_menu">

            <ul class="login">
                <h:form rendered="#{empty user}">
                    <p:inputText id="l_login" value="#{userBean.user.login}">
                        <p:watermark for="l_login" value="Podaj login..." />
                    </p:inputText>

                    <p:password id="l_password" value="#{userBean.user.password}">
                        <p:watermark for="l_password" value="Podaj hasło..." />
                    </p:password>

                    <p:commandButton value="Zaloguj" action="#{userBean.log}" class="submit" /><br /><br />
                    Nie masz jeszcze konta? <a href="register.jsf">Zarejestruj sie</a>
                </h:form>

                <h:form rendered="#{not empty user}">
                    <img src="http://localhost:8080/EPC_war_exploded/css/img/avatars/#{user.photo}" class="photo_min" />
                    <div class="user_informations">Witaj z powrotem <b>#{user.login}</b>
                    <ul>
                        <li><a href="http://localhost:8080/EPC_war_exploded/profiles/profile.jsf?id=#{user.id}">Profil</a></li>
                        <li><a href="http://localhost:8080/EPC_war_exploded/profiles/settings.jsf?id=#{user.id}">Ustawienia</a></li>
                    </ul>
                    </div>
                    <p:commandButton value="Wyloguj" id="logout" class="submit" action="#{userBean.logout}" />
                </h:form>
            </ul>
        </div>
    </div>
</ui:composition>
