<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <div class="i_message">
            <h1>Dodaj ogłoszenie</h1>
            Przed dodaniem ogłoszenia pamiętaj, żeby zapoznać się z regulaminem.
            Ogłoszenie będzie widoczne dla wszystkich użytkowników oraz wyświetlane na stronie głównej serwisu.
            Wypełnij każdą rubrykę formularza,żeby dodanie ogłoszenia zakończyło się prawidłowo.
        </div><br />

        <h:form value="#{eventBean.event}">
            <p:inputText id="title" class="e_input" value="#{eventBean.event.title}">
                <p:watermark for="title" value="Podaj tytuł..." />
            </p:inputText>

            <p:calendar styleClass="e_calendar" id="mask" value="#{eventBean.event.dateday}" pattern="dd-MM-yyyy" mask="true">
                <p:watermark for="mask" value="dzień-miesiąc-rok" />
                <f:convertDateTime pattern="dd-MM-yyyy" />
            </p:calendar>

            <p:calendar styleClass="e_calendar" id="time" value="#{eventBean.event.hour}" pattern="HH:mm a" timeOnly="true">
                <p:watermark for="time" value="godzina-minuta" />
                <f:convertDateTime pattern="HH:mm a" />
            </p:calendar><br />

            <p:inputTextarea class="e_textarea" id="content" value="#{eventBean.event.description}">
                <p:watermark for="content" value="Zamieść resztę informacji na temat wydarzenia..." />
            </p:inputTextarea><br />

            <h1>Ustal dane adresowe:</h1>
            <p:inputText id="city" class="e_input" value="#{eventBean.event.city}">
                <p:watermark for="city" value="Miasto..." />
            </p:inputText><br /><br />

            <p:inputText id="street" class="e_input" value="#{eventBean.event.street}">
                <p:watermark for="street" value="Ulica..." />
            </p:inputText><br /><br />

            <p:inputText id="streetnumber" class="e_input" value="#{eventBean.event.streetnumber}">
                <p:watermark for="streetnumber" value="Numer budynku..." />
            </p:inputText><br /><br />

            <p:commandButton class="e_submit" value="Wyślij" action="#{eventBean.saveEvent}" />
        </h:form>
    </ui:define>
</ui:composition>
