<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">
        <h:form rendered="#{not empty user}">
        <div class="i_message">
            <h1>Wydarzenia</h1>
            <p:dataTable value="#{eventBean.events}" var="item" style="margin: -20px;">

                <p:column styleClass="e_photo">
                    <f:facet name="header"></f:facet>
                    <img src="http://localhost:8080/EPC_war_exploded/css/img/event.jpg" class="e_event" /><br />
                </p:column>

                <p:column>
                    <f:facet name="header">Informacje</f:facet>
                    <div class="e_title">#{item.title}</div>
                    #{item.description}<br /><br />
                    Dowiedz się więcej: <a href="http://localhost:8080/EPC_war_exploded/profiles/#{item.title}">rozszerz</a>
                </p:column>

                <p:column styleClass="e_add">
                    <f:facet name="header">Dodatkowe</f:facet>
                    <ul>
                        <li><label>Autor:</label> <a href="http://localhost:8080/EPC_war_exploded/profiles/">#{item.author}</a></li>
                        <li><label>Data spotkania:</label>
                            <h:outputText value="#{item.dateday}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputText>
                        </li>
                        <li><label>Miasto:</label> #{item.city}</li>
                        <li><label>Ulica:</label> #{item.street}</li>
                        <li><label>Nr budynku:</label> #{item.streetnumber}</li>
                    </ul>
                </p:column>
            </p:dataTable>
        </div>
        </h:form>

        <h:form rendered="#{empty user}">
            <img src="http://localhost:8080/EPC_war_exploded/css/img/stopu.png" class="stop_photo" />
        </h:form>
    </ui:define>
</ui:composition>
