<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="template.xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="i_message">
            <h1>Rejestracja konta</h1>
            Witaj na etapie rejestracji! Żeby założyć konto, wystarczy podać login i hasło. Ważnym jest fakt, aby login, którego masz zamiar użyć, nie był już używany przez inną osobę.
            Zakładając konto, uzyskujesz dostęp do swojego profilu, a także do zamieszczania ogłoszen.
        </div><br />
        <h:form id="userform">
        <div class="register_left">Identyfikator:</div>
        <p:inputText class="input" id="login" value="#{userBean.user.login}">
            <p:watermark for="login" value="Podaj login" />
        </p:inputText><br /><br />

        <div class="register_left">Zabezpieczenie:</div>
        <p:password class="input" match="re-password" id="password" value="#{userBean.user.password}">
            <p:watermark for="password" value="Podaj hasło" />
        </p:password><br /><br />

        <div class="register_left">-</div>
        <p:password class="input" id="re-password" value="#{userBean.user.password}">
            <p:watermark for="re-password" value="Powtórz hasło" />
        </p:password><br /><br />

        <div class="register_left">Poczta</div>
        <p:inputText class="input" id="email" value="#{userBean.user.email}">
            <p:watermark for="email" value="Podaj adres e-mail" />
            <f:validateRegex
                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
        </p:inputText><br /><br />

        <div class="register_left">Data urodzenia:</div>
        <p:calendar styleClass="calendar" id="mask" value="#{userBean.user.birthday}" pattern="dd-MM-yyyy" mask="true">
            <p:watermark for="mask" value="dzień-miesiąc-rok" />
        </p:calendar><br /><br />

        <p:commandButton class="submit" value="Zarejestruj się" action="#{userBean.saveUser}" />
        </h:form>
    </ui:define>

</ui:composition>
