<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Mój projekcik!</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/EPC_war_exploded/css/global.css" />
</h:head>
<f:view contentType="text/html">
<h:body>
<div class='header'></div>
    <ui:include src="addons/user_menu.xhtml" />
    <div class='right_block'>
        <ui:insert name="content" />
    </div>
</h:body>
</f:view>
</html>